@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Lobster&family=Poppins:wght@400;600;700&display=swap");
/*
COLORS:
    #fff
    #FF5959
    #707070
    #121212
    #B3B3B3

    Boexs: 4F9DA6, FF5959 FFF4D6, FFF4D6 D9D9D9
    AA9F9F
    0B0D17
    D9DBE1

Fonts:


*/
*,
*:focus {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.7;
  color: #707070;
}

.section {
  display: flex;
  justify-content: center;
  padding: 4rem 0;
}
.section--flex {
  display: flex;
  justify-content: center;
}
.section--flex > * {
  margin: 0 0.9375rem;
}
.section__content {
  max-width: 71.25rem;
}
.section__info {
  text-align: center;
  margin-bottom: 4rem;
}
.section__title {
  font-family: "Inter", sans-serif;
  font-size: 2.8125rem;
  color: #121212;
  margin-bottom: 0.8rem;
}
.section__intro {
  margin: 0 auto;
  width: 70%;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0.6rem 1.5rem;
  border-radius: 0.2rem;
  color: #fff;
  background-color: #FF5959;
  border: none;
  cursor: pointer;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.header {
  background-image: linear-gradient(to bottom, rgba(18, 18, 18, 0.2), rgba(18, 18, 18, 0.7)), url(../images/header-banner.jpg);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.header__content {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.header__details {
  width: 75%;
  text-align: center;
}
.header__heading {
  font-family: "Inter", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
}
.header__quote {
  margin: 1rem auto;
  width: 80%;
}

.donate__amount-item {
  padding: 1.5rem 1rem;
  font-family: "Inter", sans-serif;
  font-size: 1.875rem;
  font-weight: 600;
}
.donate__amount-item.active {
  background: #FFEEEE;
  color: #FF5959;
  border: 1px solid #FF5959;
}
.donate__now {
  margin-top: 3rem;
  text-align: center;
}
.donate__input {
  display: block;
  width: 80%;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
  color: #777474;
  border: none;
  border-bottom: 1px solid #DADADA;
  margin-bottom: 1.5rem;
  -moz-appearance: none;
}

.plan__item {
  padding: 3rem 1.5rem;
  border-radius: 0.5rem;
}
.plan__item:nth-of-type(1) {
  background: rgba(79, 157, 166, 0.1);
}
.plan__item:nth-of-type(2) {
  background: rgba(255, 89, 89, 0.1);
}
.plan__item:nth-of-type(3) {
  background: #FFF4D6;
}
.plan__item-icon, .plan__item-title {
  color: #121212;
}
.plan__item-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1rem 0 0.5rem;
}
.plan__item P {
  font-size: 1rem;
}

.updates__form {
  background: #FFF4D6;
  max-width: 75%;
  padding: 4rem;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.updates__form input {
  font-size: 1rem;
  color: #AA9F9F;
  background: #D9D9D9;
  padding: 0.5rem 1rem;
  width: 40%;
}
.updates__form button {
  font-weight: 500;
  font-size: 0.9rem;
}

.footer {
  background-color: #0B0D17;
  padding: 3rem 1rem;
  text-align: center;
  margin-top: 4rem;
}
.footer__quote {
  font-family: "Lobster", cursive;
  font-size: 2.25rem;
  line-height: 1;
  color: #FF5959;
  margin-bottom: 1.5rem;
}
.footer p {
  color: #D9DBE1;
  font-size: 0.9rem;
}/*# sourceMappingURL=style.css.map */